<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <% include header %><hr>
    <script>
    function submitContents(){
        var title = $('#addContentSubject').val();
        var category = $('#ContentCategorySelect').val();
        var contents = $('#addContents').val();
        // var password = $('#addContentPassword').val();

        //새글 등록
        if(title == ''||contents == ''||category==''){
            alert("제목과 카테고리,내용,비밀번호 모두 있어야합니다.");
            return;
        }else{
            $('#writeAction').submit();
        }
    }
    </script>
</head>
<body>
    <section class="container about-content">
        <div class="alert alert-dismissible alert-secondary" style=" background-color: #e6f3ff;padding-bottom: 15px; margin-top: 20px;">
        <h4 class="text middle bold cb">청와대 홈페이지 운영 원칙</h4>
        <ul class="about-text">
            <li class="about-text">·청와대는 사상과 표현의 다양성을 존중합니다.동시에 타인의 권리를 침해하거나 명예를 훼손하는 내용은 제한합니다. 방송통신심 의위원회의 '정보통신에 관한 심의 규정', 한국인터넷자율정책기구의 '정책규정' 등을 기반으로 문제 게시물은 삭제될 수 있습니다.
            자극적이고 혐오스러운 내용, 비속어, 폭력적 내용, 특정 대상을 비하하거나 차별을 조장하는 내용, 개인정보 유출을 비롯해 타인의 권리를 침해하는 내용, 반복되는 내용 등은 제재될 수 있습니다.</li>
            <li>·청원기간은 30일 입니다.</li>
            <li>·한번 작성된 청원은 수정 및 삭제가 불가능합니다.  최초 청원취지와 다른내용으로 변경되는 것을 방지하여 청원참여자의 의견을 보호하기 위한 조치이니 신중하게 작성하여 주시기 바랍니다.</li>
        </ul>
        </div>
    </section>
    <!-- 새 글 입력받는 폼  -->
    <section class="container about-content">
        <div class="write_form">
            <form id="writeAction" action="/boards?mode=add" method="post">
                <ul>
                    <li class = "inline-text">
                        <label for="ContentSubject"> 청원제목 </label>
                        <input type="text" class="form-control" id="addContentSubject" name="addContentSubject" placeholder="청원제목을 입력해주세요">
                    </li>
                    <li class = "inline-text">
                        <label for="ContentCategory"> 카테고리 </label>
                        <select class="form-control" id="ContentCategorySelect" name = "ContentCategorySelect">
                            <option value selected disabled>카테고리를 선택해주세요.</option>
                            <%if(categorys){%>
                                <%categorys.forEach(function(category){%>
                                <option value="<%=category.name%>"><%=category.name%></option>
                            <%})} else{%>
                                <option value="기타">기타</option>
                            <%}%>
                        </select>
                    </li>
                    <li class = "inline-text">
                        <label for="Content"> 청원내용 </label>
                        <textarea class="form-control" id="addContents" name="addContents" rows="10" cols="80"></textarea>
                    </li>
                    <!-- <li class = "inline-text">
                        <label for="ContentPassword"> 비밀번호 </label>
                        <input type="password" class="form-control" id="addContentPassword" name="addContentPassword" placeholder="비밀번호">
                    </li> -->
                </ul>
                <center>
                <div id = "new" class="addBtngroup">
                    <button type="submit" class="btn btn-secondary"><a onclick="submitContents();">작성</a></button>
                    <button type="button" class="btn btn-secondary"><a href="/boards">목록</a></button>
                </div>
                </center>
            </form>     
        </div>
    </section>
    <% include footer%>

  </body>
</html>
